@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    color: #151515;
}

/* fonts */
.text-16-22-400 {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.text-16-22-600 {
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.5rem;
}

.text-50-60-600 {
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
}

.text-16-20-600 {
    font-weight: 600;
    font-size: 1rem;
    line-height: 20px;
}

.text-16-20-400 {
    font-weight: 400;
    font-size: 1rem;
    line-height: 20px;
}

.text-16-20-500 {
    font-weight: 500;
    font-size: 1rem;
    line-height: 20px;
}

.text-18-20-500 {
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
}

.text-24-30-600 {
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
}

.text-40-48-600 {
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
}

/*.perspective {*/
/*    transform: perspective(1000px) rotateY(-15deg);*/
/*    transition: transform 1s ease 0s;*/
/*}*/

/*.perspective:hover {*/
/*    transform: perspective(3000px) rotateY(0);*/
/*}*/

/* colors */
.bg-black-custom {
    background: rgba(21, 21, 21, 0.7);
    backdrop-filter: blur(8px);
}

.card-projects .pr-text {
    transition: .3s ease-in-out;
}

.card-projects:hover .pr-text {
    transition: .3s;
    top: 0;
}

.ssss {
    height: 60px !important;
}

.card-projects:hover .image {
    filter: brightness(0.5);
}

.bg-tanerofka {
    /*background-color: #fff !important;*/
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50.13%, rgba(0, 0, 0, 0.4) 82.96%) !important;
}

.fifthBg {
    background-image: url('../public/banner.png') !important;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    max-width: calc(1194px + 2rem);
    padding: 0 20px;
    width: 100%;
    margin: 0 auto;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.exBg .s {
    transition: .3s;
}

.exBg:first-child {
    background-image: url("/stones/Rectangle 8-2.png");
    background-repeat: repeat;
    background-size: contain;
}

.exBg:nth-child(2) {
    background-image: url("/stones/Rectangle.png");
    background-repeat: repeat;
    background-size: contain;
}

.exBg:nth-child(3) {
    background-image: url("/stones/Rectangle 8.png");
    background-repeat: repeat;
    background-size: contain;
}

.exBg:nth-child(4) {
    background-image: url("../public/stones/Rectangle 888.png");
    background-repeat: repeat;
    background-size: contain;
}

.exBg:nth-child(5) {
    background-image: url("../public/stones/Rectangle 8-1.png");
    background-repeat: repeat;
    background-size: contain;
}

.exBg:nth-child(6) {
    background-image: url("../public/stones/Rectangle 88.png");
    background-repeat: repeat;
    background-size: contain;
}

.exBg:nth-child(7) {
    background-image: url("../public/stones/Rectangle 8-2.png");
    background-repeat: repeat;
    background-size: contain;
}

.exBg:nth-child(8) {
    background-image: url("../public/stones/Rectangle.png");
    background-repeat: repeat;
    background-size: contain;
}

.exBg:nth-child(9) {
    background-image: url("../public/stones/Rectangle 8.png");
    background-repeat: repeat;
    background-size: contain;
}

.exBg:nth-child(10) {
    background-image: url("../public/stones/Rectangle 888.png");
    background-repeat: repeat;
    background-size: contain;
}

.exBg:nth-child(11) {
    background-image: url("../public/stones/Rectangle 8-1.png");
    background-repeat: repeat;
    background-size: contain;
}

.exBg:nth-child(12) {
    background-image: url("../public/stones/Rectangle 88.png");
    background-repeat: repeat;
    background-size: contain;
}

.exBg:hover .s {
    opacity: 100%;
}

@media screen and (min-width: 1350px) {
    .sada {
        width: 90% !important;
    }
}

@media screen and (max-width: 768px) {
    .text-16-22-400 {
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
    }

    .text-16-22-600 {
        font-weight: 600;
        font-size: 1rem;
        line-height: 1.5rem;
    }

    .text-50-60-600 {
        font-weight: 600;
        font-size: 40px;
        line-height: 44px;
    }

    .text-16-20-600 {
        font-weight: 600;
        font-size: 1rem;
        line-height: 20px;
    }

    .text-16-20-400 {
        font-weight: 400;
        font-size: 1rem;
        line-height: 20px;
    }

    .text-16-20-500 {
        font-weight: 500;
        font-size: 1rem;
        line-height: 20px;
    }

    .text-18-20-500 {
        font-weight: 500;
        font-size: 18px;
        line-height: 20px;
    }

    .text-24-30-600 {
        font-weight: 600;
        font-size: 24px;
        line-height: 30px;
    }

    .text-40-48-600 {
        font-weight: 600;
        font-size: 30px;
        line-height: 34px;
    }
}
